<div class="navigation">
    <div class="navigation__column1">
        {{> logo }}
    </div>
    <div class="navigation__column2">
        <ul class="navigation__items">
            <li><a class="navigation__item" href="all-questions.html">Nauka</a></li>
            <li><a class="navigation__item" href="test.html">Test</a></li>
            <li><a class="navigation__item" href="#">Statystyka</a></li>
        </ul>
    </div>
    <div class="navigation__column3">
        <a class="navigation__login" href="#">Zaloguj się</a>
        {{> userLogo }}
    </div>
</div>