@use 'abstaract'as *;

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    max-width: $max-container-size;
    padding: 0 $gutter-gap;
    margin: 0 auto;
    width: 100%;
}
.button{
    @include centerContentFlex;
    padding: 15px 30px;
    background-color: $button-bg-color;
    border: 1px solid $button-border-default-color;
    border-radius: 4px;
    &:hover{
        background-color: $button-bg-hover-color;
        border: 1px solid $button-border-hover-color;
    }
    @include fluid-type(18px, 22px);
    width: 160px;
    @include medium-mobile{
        width: 120px;
    }
}

.hidden{
    display: none;
}