$mediumMobile: 450px;
$largeMobile: 600px;
$bigTablet: 905px;
$tablet: 768px;
$mediumDesktop: 1240px;
$largeDesktop: 1440px;

@mixin large-desktop {
    @media only screen and (max-width: $largeDesktop) {
        @content
    }
}

@mixin medium-desktop {
    @media only screen and (max-width: $mediumDesktop) {
        @content
    }
}

@mixin big-tablet {
    @media only screen and (max-width: $bigTablet) {
        @content
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content
    }
}

@mixin large-mobile {
    @media only screen and (max-width: $largeMobile) {
        @content
    }
}

@mixin medium-mobile {
    @media only screen and (max-width: $mediumMobile) {
        @content
    }
}