$max-container-size: 1320px;
$gutter-gap: 20px;
$question-bg-color: #ececec;
$answer-bg-color: #fcfcfc;
$answer-bg-hover-color: hsl(0, 0%, 75%);
$answer-selected-bg-color: hsl(0, 0%, 75%);
$answer-correct-bg-color: hsl(120, 85%, 75%);
$border-default-color: hsl(0, 0%, 75%);
$border-hover-color: hsl(0, 0%, 50%);
$question-item-active-bg-color: hsl(231, 77%, 76%);
$question-item-answered-bg-color: hsl(0, 0%, 75%);
$button-bg-color:hsl(0, 0%, 99%);;
$button-bg-hover-color: hsl(0, 0%, 75%);
$button-border-default-color: hsl(0, 0%, 75%);
$button-border-hover-color: hsl(0, 0%, 50%);
$footer-bg-color:hsl(0, 0%, 97%);
