$max-container-size: 1320px;
$gutter-gap: 20px;
$question-bg-color: #ececec;
$answer-bg-color: #fcfcfc;
$answer-bg-hover-color: hsl(0, 0%, 75%);
$border-default-color: hsl(0, 0%, 75%);
$border-hover-color: hsl(0, 0%, 50%);


$footer-bg-color:hsl(0, 0%, 97%);;